.Pagination {
    width: 1118px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 3px;
    margin: 5px 10px 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    box-sizing: border-box;
    .numberPagination {
        display: flex;
        align-items: center;
        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #333333;
            margin-right: 10px;
        }
    }
    .statusPagination {
        align-items: center;
        text-align: right;
        letter-spacing: 0.01em;
        color: #333333;
        margin: 0 20px ;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .ListPagination {
            display: flex;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                list-style: none;
                border: 1px solid #707070;
                border-radius: 3px;
                box-sizing: border-box;
                margin-right: 3px;
                background-color: #fff;
                cursor: pointer;
                a {
                    color: #333333;
                }
            }
            button.active {
                background-color: #138300;
                color: #ffffff;
            }
    }
}