$red: red;
$blue: blue;
$gray: #707070;
$white:#ffffff;
$gray-light: #f2f2f2;
$gray-light-400: #d8d7d7;
$success-color: #138300;
$danger-color: #ff2c00;

$fontBold: 700;
$fontMedium: 500;
$fontNormal: 400;
$fontLight: 300;

$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeLarge: 18px;

$mainColor: #FFD500;
$successColor: #138300;
$dangerColor: red;
$textColor: black;
$tableHeaderBacgroundColor: #f2f2f2;

$mainBg: #F8F9FB;
$lineColor:#D8D7D7;

$headerZIndex: 1050;
$modalZIndex: 1055;
$backdropZIndex: 1053;

$largeFontSize: 18px;
$normalFontSize: 16px;
$smallFontSize: 14px;

$border-radius-5: 5px;
$border-input-width: 0.5px;

$buttonHeight: 36.5px;
$inputHeight: 32px;

$font-weight-table: 500;

:global {

    // .findx-box{
    //     box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 20%);;
    // }
    .findx-footer {
        align-center: center;
        display: flex;
        justify-content: flex-end
    }
}